h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    font-weight: normal;
    text-align: center;
}

h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
    margin-top: 0;
}

a {
    color: #28a745;
}

a:hover, 
a:focus {
    outline: none;
    color: #218838;
}

img {
    max-width: 100%;
}

.page {
    color: #606c71;
}

.page_end-point .main {
    margin-left: 0;
    width: 100%;
}

.page_end-point nav .bg-gray {
    border-radius: 0;
}

.page_end-point > .btn {
    display: block;
    margin: 0 auto 1rem;
}

.page_end-point .btn-group {
    display: flex;
    justify-content: center;
}

.page_end-point form {
    margin: 0 auto;
    width: 300px;
}

.page_end-point pre {
    text-align: center;
}

.button {
    justify-content: center;
    min-width: 3rem;
    padding: 0.5rem;
}

.button:not(:last-of-type) {
    border-right: 2px solid #218838;
}

.button:focus {
    color: white;
}

.button__icon {
    display: inline-flex;
    font-size: 24px;
    margin-left: 0.5rem;
}

.btn-group {
    margin: 1rem auto;
}

.btn-group .button {
    display: inline-flex;
}

.aside {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    height: 100vh;
    overflow: auto;
    padding: 1rem 0;
    position: fixed;
    width: 310px;
}

.aside__title {
    margin: .5rem 0;
}

.nav {
    padding-bottom: 2rem;
}

.nav-link::before {
    content: "\f105";
    font-family: "FontAwesome"
}

.nav-item .nav-link {
    padding: .5rem;
}

.nav-link:hover, 
.nav-link:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
}

.card:not(:last-of-type) {
    margin-bottom: 1rem;
}

.page__main {
    margin-left: 310px;
    min-width: calc(638px + 2rem);
    width: calc(100% - 310px);
}

.main {
    padding: 1rem;
}

.bg-gray {
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
    padding: 0.8rem;
    overflow: auto;
    word-wrap: normal;
}

@media screen and (max-width: 1000px) {
    .aside {
        display: none;
    }
    
    .page__main {
        margin-left: 0;
        width: 100%;
    }
}
